---
title: Healer - Aiding charitable medical treatment for people in need around the world
---

<div id="main">
  <div id="logo">
    <img src="images/healer_logo.png" />
  </div>

  <div id="text">
    <div>
      <h2>What is this?</h2>
      <p>Healer is an "in-the-works" nonprofit project dedicated to providing technology to aid medical groups providing pro-bono treatment to the world's poor populations.</p>
    </div>

    <div>
      <h2>Objective</h2>
      <p>Our objective is to build and launch an easy-to-use and easy-to-adopt universal web-based software platform to centralize medical records, treatment history, and operational/logistics support to aid people throughout the world who cannot afford commercial medical care.</p>
    </div>

    <div>
      <h2>For more information</h2>
      <p>In general, if this is a project that interests you, contact <%= link_to "Jason Sisk", "https://www.linkedin.com/in/jason-sisk-76390a109" %> for the moment.</p>
      <p>We're on <%= link_to "Github", "https://github.com/healer-org" %>. You can also <%= mail_to "healer.app@gmail.com", "email" %> if you like.</p>
    </div>
  </div>
</div>
