---
title: Healer - Aiding charitable medical treatment for people in need worldwide
---

<div class="container">
  <div class="row">
    <div id="logo" class="twelve columns">
      <img src="images/healer_logo.png" />
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <h4>What's Healer?</h4>
    </div>
    <div class="nine columns">
      <p><strong>Healer is a set of web tools and services that support humanitarian and missionary medical professionals who serve people needing medical care they can't afford.</strong></p>
      <p>Healer connects clinicians and patients electronically via case review, procedure scheduling, individual recordkeeping, and logistics tooling.</p>
      <h5>Key Features</h5>
      <ul>
        <li>Distributed case review</li>
        <li>Clinical scheduling</li>
        <li>Procedure recordkeeping</li>
        <li>Patient medical record</li>
        <li>Team management</li>
        <li>Summary reporting</li>
      </ul>
      <p>Healer was launched in 2011 in Guatemala City supporting <a href="http://operationwalk.org">Operation Walk</a>'s <a href="https://www.operationwalkmidwest.org">Midwest</a> team (then operating out of Mooresville, Indiana). Since then, it has been used on seven missions in Central America to help teams provide aid to over 500 patients receiving various corrective orthopedic surgeries such as knee and hip transplants.</p>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <h4>Objectives</h4>
    </div>
    <div class="nine columns">
      <p><strong>Healer seeks to facilitate and improve medical treatment that improves overall quality of life. Through this effort, we strive to offset the negative effects of poverty on human health worldwide.</strong></p>
      <p>We believe this is possible in part through easy-to-use web-based software tools, and a deep understanding of how humanitarian practitioners work.</p>
      <p>While our beginnings are based in orthopedics, our goal is to be a medically neutral platform that is able to support various types of needs that patients may have.</p>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <h4>What's happening?</h4>
    </div>
    <div class="nine columns">
      <h5>January 2020</h5>
      <p>After a long hiatus, we are resuming work on the core Healer platform, which is a complete rewrite of the in-field system that has been in place since 2011. Through this effort, we will be able to expand the functionality of Healer to support the following:</p>
      <ul>
        <li>Configurable procedure forms</li>
        <li>Provider association across multiple teams</li>
        <li>Cross-team data/logistics sharing</li>
      </ul>
      <p>We are in the process of assembling volunteers to drive this effort, and looking for smart web developers who are interested in APIs and front-end tooling using React or similar technologies. <em>Bonus points if you've got a background in medicine and health care operations.</em></p>
      <p>We are also (always) seeking mission or humanitarian groups who are interested to collaborate or pilot use of Healer technology. We would be thrilled to learn more about you too!</p>
      <p>You can <a href="mailto:info@healer.global">email us here</a>.</p>
    </div>
  </div>

  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <a href="https://github.com/healer-org"><img alt="Github" src="images/GitHub-Mark-32px.png" /></a>
    </div>
  </div>
</div>
